body {
	background-color: var(--bg);
	color: var(--text);
}

.footer-ul {
	list-style-type: none;
}

p.center {
	text-align: center;
	font-size: 12px;
}

footer {
	background-color: var(--bg-secondary);
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100px;
}

.footer-link {
	color: var(--link-secondary);
}

.footer-link:hover {
	color: var(--link-secondary-hover);
}

.footer-text {
	color: var(--text-secondary);
}

.footer-header {
	color: var(--link-secondary)
}

.flex-container {
	display: flex
}

.flex-direction-col {
	flex-direction: column
}

.flex-grow {
	flex-grow: 1;
}

.flex-space-between {
	justify-content: space-between;
}

.flex-vertical {
	flex-direction: column;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-align-stretch {
	align-items: stretch
}

.flex-shrink {
	flex-shrink: 1
}

div.viewport {
	min-height: 100vh;
}

.bg-dark {
	background-color: var(--bg-secondary) !important;
}

.octicon {
	color: var(--text-secondary);
}

.icon {
	width: 24px;
	vertical-align: bottom;
}

.banner-image {
	height: 80px
}


.header-banner {
	flex: 10000 1 auto;
	min-width: 0;
}

.nav-link {
	color: var(--link-secondary) !important;
}

.nav-link:hover {
	color: var(--link-secondary-hover) !important;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.clickable {
	cursor: pointer;
}

.nav-item {
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
	color: var(--text-secondary);
}

.nav-item:hover {
	background-color: var(--text-secondary-light);
	border-radius: 5px;
}

.nav-item.current {
	background-color: var(--text-secondary);
	border-radius: 5px;
	color: var(--bg);
}

.nav-item.current:hover {
	background-color: var(--text-secondary);
	border-radius: 5px;
	color: var(--bg);
}

.main-container {
	padding-bottom: 110px;
	padding-top: 110px;
	max-height: 100vh;
	overflow: auto;
}

.navbar {
	position: fixed;
	width: 100%;
	z-index: 1;
}

input {
	min-width: 400px
}

.nav-margin {
	margin-top: 25px;
}

@media (max-width: 767.98px) {
	input {
		min-width: 300px
	}

	.nav-margin {
		margin-top: 10px;
	}

}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
	background-color: var(--border);
	border-radius: 20px;
	border: 6px solid transparent;
}

::-webkit-scrollbar-button {
	height: 100px;
}

.outcrop {
	background-color: var(--bg);
}

img.img-corners {
	border-radius: 3px;
}

.banner-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

#container {
	width: 100%;
}

#left {
	float: left;
	width: 20%
}

#right {
	float: right;
	width: 80%
}

#center {
	margin: 0 auto;
	width: 100px;
}

.cell {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}

.cell:hover {
	filter: brightness(120%);
	cursor: pointer;
}

.selected {
	filter: brightness(140%);
	cursor: pointer;
}

pre code {
	background-color: #eee;
	border: 1px solid #999;
	display: block;
	padding: 20px;
}

.mana-matrix {
	display: grid;
	grid-auto-rows: minmax(min-content, max-content);
	grid-template-columns: auto 1fr;
}

.vertical {
	transform: rotate(180deg);
	writing-mode: vertical-lr;
	text-align: center;
}

.square {
	aspect-ratio: 1 / 1;
}


.tile:hover {
	background: #ddd;
}

.white-text-black-border {
	color: #fff;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.autocomplete-list {
	position: absolute;
	z-index: 100;
	padding: 0;
	border: 1px solid var(--border);
	background-color: var(--bg);
}

.autocomplete-list li {
	list-style-type: none;
	padding: 0.5rem;
}

.autocomplete-list li:not(:first-child) {
	border-top: 1px solid var(--border);
}

.autocomplete-list li:hover {
	background-color: #eee;
	cursor: pointer;
}

.autocomplete-list li.active {
	background-color: var(--primary) !important;
	color: var(--bg);
}

.greyscale {
	filter: grayscale(100%);
}
