
body {
	background-color: var(--bg);
	color: var(--text);
}

.footer-ul {
	list-style-type: none;
}

p.center {
	text-align: center; 
	font-size:12px;
}

footer {
	background-color: var(--bg-secondary);
	position:fixed;
	bottom:0;
	width:100%;
  height: 100px;
}

.footer-link {
	color: var(--link-secondary);
}

.footer-link:hover {
	color: var(--link-secondary-hover);
}

.footer-text {
	color: var(--text-secondary);
}
.footer-header {
	color: var(--link-secondary)
}

.flex-container {
	display:flex
}

.flex-direction-col {
	flex-direction: column
}

.flex-grow {
	flex-grow:1;
}

.flex-space-between {
	justify-content: space-between;
}

.flex-vertical {
	flex-direction: column;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-align-stretch {
	align-items: stretch
}

.flex-shrink {
	flex-shrink: 1
}

div.viewport {
  min-height: 100vh;
}

.bg-dark {
	background-color: var(--bg-secondary) !important;
}

.octicon {
	color: var(--text-secondary);
}

.icon {
	width: 24px;
	vertical-align: bottom;
}

.banner-image {
	height: 80px
}


.header-banner {
	flex: 10000 1 auto; 
	min-width: 0;
}

.nav-link {
	color: var(--link-secondary) !important;
}

.nav-link:hover {
	color: var(--link-secondary-hover) !important;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.clickable {
	cursor: pointer;
}

.nav-item {
	-o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
	color: var(--text-secondary);
}

.nav-item:hover {
	background-color: var(--text-secondary-light);
	border-radius: 5px;
}

.nav-item.current {
	background-color: var(--text-secondary);
	border-radius: 5px;
	color: var(--bg);
}

.nav-item.current:hover {
	background-color: var(--text-secondary);
	border-radius: 5px;
	color: var(--bg);
}

.main-container {
	padding-bottom: 110px;
	padding-top: 110px;
	max-height: 100vh;
	overflow: auto;
}

.navbar {
	position:fixed;
	width: 100%;
	z-index: 1;
}

input {
	min-width: 400px
}

.nav-margin {
	margin-top: 25px;
}

@media (max-width: 767.98px) {
	input {
		min-width: 300px
	}
	.nav-margin {
		margin-top: 10px;
	}

}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg);	
}

::-webkit-scrollbar-thumb {
  background-color: var(--border);
  border-radius: 20px;
  border: 6px solid transparent;
}

::-webkit-scrollbar-button {
  height: 100px;
}

.outcrop {
	background-color: var(--bg);
}

img.img-corners {
	border-radius: 3px;
}

.banner-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

#container{width:100%;}
#left{float:left;width:20%}
#right{float:right;width:80%}
#center{margin:0 auto;width:100px;}
