
body {
	background-color: var(--bg);
	color: var(--text);
}

.footer-ul {
	list-style-type: none;
}

p.center {
	text-align: center; 
	font-size:12px;
}

footer {
	background-color: var(--bg-secondary);
  bottom: 0; /* stick to bottom */
}

.footer-link {
	color: var(--link-secondary);
}

.footer-link:hover {
	color: var(--link-secondary-hover);
}

.footer-text {
	color: var(--text-secondary);
}
.footer-header {
	color: var(--link-secondary)
}

.flex-container {
	display:flex
}

.flex-direction-col {
	flex-direction: column
}

.flex-grow {
	flex-grow:1;
}

.flex-space-between {
	justify-content: space-between;
}

.flex-vertical {
	flex-direction: column;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-align-stretch {
	align-items: stretch
}

.flex-shrink {
	flex-shrink: 1
}

div.viewport {
  min-height: 100vh;
}

.bg-dark {
	background-color: var(--bg-secondary) !important;
}

.octicon {
	color: var(--text-secondary);
}

.icon {
	width: 24px;
	vertical-align: bottom;
}

.banner-image {
	height: 80px
}


.header-banner {
	flex: 10000 1 auto; 
	min-width: 0;
}

.nav-link {
	color: var(--link-secondary) !important;
}

.nav-link:hover {
	color: var(--link-secondary-hover) !important;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}
